@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

/* ------------- HEADER CONTENT ------------- */

header {
    background-color: #504099;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(90% - 30%);
    height: 10vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 15%;
    margin: 0 auto;
}

header > .logo {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 18px;
    cursor: pointer;
}

header > .logo:hover {
    background-color: #d4d4d4;
}

.page-links > ul {
    display: flex;
    list-style: none;
    gap: 45px;
    font-size: 20px;
}

.page-links > ul > a {
    color: #fff;
    text-decoration: none;
}

.page-links > ul > a:hover {
    text-decoration: underline;
}

/* ------------- MAIN CONTENT ------------- */
main {
    margin: calc(10vh + 40px) 0;
    padding: 0 80px;
}

.topic-tile {
    font-size: 30pt;
    text-decoration: underline;
}

.welcome {
    height: calc(90vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome > .welcome-content {
    width: 40%;
    height: 50%;
    margin: 10px auto;
}

.welcome-content > .apresentation h1 {
    font-size: 40pt;
    font-weight: bold;
}

.welcome-content > .apresentation h2 {
    font-size: 30pt;
    color: #000000bd;
    margin-bottom: 15px;
} 

.welcome-content > .apresentation p {
    color: #000000b0;
}

.welcome-content > .social-links-buttons {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.welcome-content .social-links-buttons img {
    width: 50px;
}

/* ------------- PROJECTS CONTENT ------------- */

.projects {
    /* padding: 70px 60px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projects .proj {
    color: #000;
    /* background-color: #974EC3; */
    border: 3px solid #000;
    border-radius: 10px;
    height: calc(500px - 100px);
    width: calc(100% - 60px);
    display: flex;
    padding: 50px 30px;
    gap: 3%;
}

.projects .proj > .image-representation {
    width: 30%;
}

.projects .proj > .image-representation img {
    width: 100%;
}

.projects .proj > .project-info {
    width: 47%;
}

.projects .proj > .project-info h3 {
    font-size: 20pt;
    margin-bottom: 20px;
}

.projects .proj > .project-access-links {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

.projects .proj > .project-access-links a {
    width: 100px;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 8px;
    text-align: center;
}

.projects .proj > .project-access-links img{
    width: 30px;
}

/* ------------- TECHNOLOGIES CONTENT ------------- */

.technologies {
    /* background-color: red; */
    margin-top: 60px;
    width: 100%;
    height: calc(90vh - 40px);
}

.tech-info-card {
    display: none;
}

.technologies img {
    width: 50px;
}

.list-of-techs {
    /* background-color: orange; */
    width: 60%;
    gap: 20px;
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.list-of-techs > .tech {
    cursor: pointer;
}
